.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1310px;
  }
  .modal-backdrop {
    /* Existing styles */
  }
  
  .modal-content {
    /* Existing styles */
    position: relative; /* Add this to position your close button absolutely within the modal */
  }
  
  .close-button {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    border: none;
    background: none;
    cursor: pointer;
    font-size: 24px; /* Adjust size as needed */
  }
  
  /* Optional: Add a hover effect for the close button */
  .close-button:hover {
    color: #ccc; /* Adjust color as needed */
  }
  .modal-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; /* Space between buttons */
    transition: background-color 0.3s ease;
  }
  
  .modal-content button:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
  }
  
  /* Button specific styles */
  .add-button {
    background-color: #4CAF50; /* Green background */
    color: white;
  }
  
  .add-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .cancel-button {
    background-color: #f44336; /* Red background */
    color: white;
  }
  
  .cancel-button:hover {
    background-color: #d32f2f; /* Darker red on hover */
  }
  .modal-content input[type="text"] {
    width: calc(100% - 40px); /* Full width minus padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

  .users-table-body {
    max-height: 400px; /* Przykładowa maksymalna wysokość */
    overflow-y: auto; /* Włącza pionowe przewijanie, gdy zawartość przekroczy max-height */
}

/* Styl paska przewijania (opcjonalnie) */
.users-table-body::-webkit-scrollbar {
    width: 10px;
}

.users-table-body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}
