.users-table {
   font-family: "Roboto", sans-serif;
    max-width: 100%;
    margin: 0 auto;
    
  }
  
  .users-table-header, .table-row {
    display: flex;
    align-items: center;
    background-color: #F5F5F7; /* Light grey background */
    padding: 20px;
    border-bottom: 2px solid #E0E0E0; /* Light border for separation */

  }
  
  .users-table-header {
  font-weight: bold; 
    color: #333; /* Dark text for headers */
    /* background-color: rgba(47, 128, 237, 0.10); */
    background-color: #ddde99;
    border-radius: 10px;
  }
  
  .header-item, .row-item {
    flex: 1;
    text-align: left;
    padding: 0 10px;
    
  }
  
  .users-table-body .table-row {
    background-color: #F5F5F5; /* White background for rows */
    transition: background-color 0.3s;
    
    border: none;
  }
  
  .users-table-body .table-row:nth-child(odd) {
    background-color: #F5F5F5; /* White background for rows */
  }
  
  .users-table-body .table-row:hover {
    background-color: #EDEDEF; /* Hover effect */
  }

  .select-column{
    width: 1px;
  }

  /* Adjust the flex property for select-column */
.select-column {
  flex: 0 0 auto; /* Do not grow, do not shrink, base width auto */
  width: 50px; /* Set a base width for your select column */
}

/* Centering the checkbox inside the select-column */
.select-column input[type="checkbox"] {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttons-container {
  display: flex;
  gap: 10px; /* Adjust the gap to your preference */
  padding: 10px;
}



/* Update your .row-item to handle the flex layout with images */


/* Update your .users-table-header and .table-row to better handle padding and alignment */
.users-table-header, .table-row {
  display: flex;
  align-items: center;
  background-color: #F5F5F7; /* Light grey background */
  padding: 10px; /* Reduced padding */
  border-bottom: 2px solid #E0E0E0; /* Light border for separation */
}

/* ... rest of your styles ... */

/* Kontener dla wyszukiwarki i przycisków */
.search-and-buttons-container {
  display: flex;
  align-items: center; /* Wyrównanie elementów pionowo */
  justify-content: space-between; /* Rozłożenie elementów na całej dostępnej szerokości */
}

/* Styl dla SearchBar */
.search-bar {
  flex-grow: 1; /* Pozwala wyszukiwarce rozciągnąć się, aby zająć dostępną przestrzeń */
}

/* Kontener dla przycisków */
.buttons-container {
  display: flex;
  align-items: center; /* To powinno już być ustawione, ale warto upewnić się */
}

/* Przyciski */
.remove-button, .filter-button {
  /* Twoje istniejące style */
  height: 38px; /* Przykładowa wysokość, dostosuj do wysokości SearchBar */
  margin-left: 8px; /* Dostosuj według potrzeb */
}
