.podium-container {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  max-width: 500px;
  margin: auto;
}

.podium-title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #FFD700; /* Gold color for the title */
}

.podium {
  list-style: none;
  padding: 0;
}

.place {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #FFD700; /* Gold color for the first place */
  color: black;
}

.second-place {
  background-color: #C0C0C0; /* Silver color for the second place */
}

.third-place {
  background-color: #CD7F32; /* Bronze color for the third place */
}

.rank-icon {
  font-size: 24px;
}

.rank-name {
  flex-grow: 1;
  text-align: left;
}

/* Styling for additional places beyond top 3, using darker shades */
.place:nth-child(n+4) {
  background-color: #AAA; /* Darker shade for places below third */
}

/* Pagination styles */
.podium-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.podium-pagination button {
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.podium-pagination button:hover {
  background-color: #555;
}

.podium-pagination button.active {
  background-color: #FFD700;
}
.pagination-controls {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-controls button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #4e5d50;
  color: white;
}

.pagination-controls button:hover {
  background-color: #ddd;
}
