*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --handle-size: 2rem;
  --img-gap: 0.03rem;
}

body {
  margin: 0;
}

.container {
  display: flex;
}

.over{
  overflow: hidden;
}

.container15 {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  --items-per-screen: 8;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > button {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;
  margin: 2px;
}

.slider > button:hover {
  /* background-color: #E2B1B1; Zmieniony kolor tła podczas najechania */
  background-color: #ddde99; /* Zmieniony kolor tła podczas najechania */
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  /* background-color: rgba(255, 255, 255, 0.25); */
  /* background-color: white; */
  background-color: #1F2937;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: black; */
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .handle:focus, */
.handle:hover{
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: #4B5563;
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 4;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}

.button-selected {
  background-color: #ddde99;  /* Background color for the selected button */
  border: 5px solid #ddde99;    /* Border for the selected button */
  box-shadow: 0 0 100px 3px rgba(255, 0, 0, 0.3); /* Red shadow around the button */
  transform: scale(1.05);  /* Slightly increase the size of the selected button for emphasis */
  transition: transform 250ms ease-in-out, box-shadow 250ms ease-in-out; /* Smooth transition for the transform and box-shadow changes */
}

.button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.slider-margin-top {
  margin-bottom: 5rem;
}