.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.game-mode-content {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 90%; /* Prevents the modal from being too wide on larger screens */
}

.game-mode-content h2 {
  margin-bottom: 30px;
}

.game-mode-buttons {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap */
  justify-content: center; /* Center align the buttons */
  margin-bottom: 30px;
}

.game-mode-button {
  padding: 10px 20px; /* Adjust padding for better fitting */
  margin: 5px; /* Add some margin around buttons */
  flex: 0 1 auto; /* Allow buttons to grow and shrink but not beyond their content */
  max-width: 45%; /* Max-width for each button */
  word-break: break-word; /* Break long words */
}

.game-mode-button.solo {
  background-color: #4CAF50;
  color: white;
}

.game-mode-button.solo:hover {
  background-color: #45a049;
}

.game-mode-button.team {
  background-color: #3498db;
  color: white;
}

.game-mode-button.team:hover {
  background-color: #2980b9;
}

.game-mode-button .icon {
  margin-right: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
}

.close-button:hover {
  color: #ccc;
}

@media (max-width: 600px) {
  .game-mode-content {
    padding: 20px; /* Reduce padding on smaller screens */
  }
  .game-mode-button {
    padding: 5px 10px; /* Smaller padding for smaller screens */
    font-size: 16px; /* Smaller font size */
    max-width: 100%; /* Full width buttons on small screens */
  }
}