.Modal {
  position: relative;
  background: #466551;
  color: white;
  max-width: 400px;
  padding: 40px;
  border-radius: 8px;
  margin: 100px auto;
  animation: 0.5s ease-out 0s 1 slideInFromTop;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border: none;
  border-radius: 5px;

  background-color: #cdcbcb;
  color: rgb(4, 4, 4);
  margin-bottom: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

button[type="submit"]:hover,
.buttonik2:hover,
.buttonik:hover {
  background-color: #80b47c;
}

a {
  color: #1a75ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.close-modal-button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.close-modal-button:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.help-text {
  display: block;
  margin-top: 5px;
  font-size: 0.9em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: #aaa;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-help-links {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.login-help-links a {
  color: #f6e5e5;
  text-decoration: none;
}

.login-help-links a:hover {
  text-decoration: underline;
}

.login-help-links span {
  margin: 0 10px;
  color: white;
}

.login-help-links span::before,
.login-help-links span::after {
  content: " | ";
  color: white;
}

.login-help-links span::before {
  margin-right: 10px;
}

.login-help-links span::after {
  margin-left: 10px;
}
.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: #e74c3c;
  font-size: 0.85em;
  margin-top: 0px;
  margin-bottom: 10px;
  display: block;
}
